.social{
  display:flex;
  font-size:25px;
  margin-top:20px;
}

.icon {
  display: inline-block;
  text-decoration: none;
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.icon:before {
  font-family: "FontAwesome",sans-serif;
  
}

.facebook:before {
  content: "\f09a";
}

.twitter:before {
  content: "\f099";
}

.github:before {
  content: "\f113";
}

.dribble:before {
  content: "\f17d";
}

.pinterest:before {
  content: "\f0d2";
}
