
.flex-start{
    display: flex;
    justify-content: start;
    align-items: center;
}
.operation-part{
    width:100%;
    height: 7vh;
    padding: 0 4% 2%;
    .menu-icon{
        width: 16%;
        cursor: pointer;
        img{
            width: 16%;
            padding: 0 2%;
        }
    }
}
.list{
    width:65%;
    margin:0 auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    font-family: 'Montserrat', sans-serif;

    
}

.card{
    width:98%;
    height:auto;
    margin:1% auto; 
    cursor:pointer;
    img{
        width: 100%;
    }
    
}
//buttons
.btn{
    width: 100%;
    height:7vh;
    background-color: black;
    color:white;
    margin: 2% 0;
    
    &:hover{
        background-color: white;
        color:black;
        border: 1px solid black;
    }
    &:disabled{
        background-color: white;
        opacity: 0.4;
        color:black;
        border: 1px solid black;
    }
}
.operator:last-child{
    background-color: black;
    color:white;
    border: none;
}
.weak{
    background-color: white;
    border: 1px solid black;
    color: black;
}
.about{
    padding:15px;
    width:100%;
    position: relative;
    img{
        width: 7%;
        position: absolute;
        top:12%;
        right:5%;
        cursor: pointer;
        &:hover{
            transform: scale(1.08);
        }
    }
    p,h3{
        font-weight: 400;
        margin: 0 0 3%;
    }
    .colors{
        justify-content: start;
    }
    .color{
        width: 4%;
        height:3vh;
        padding: 0 20px 0 0;
        justify-self: start;
        border-radius: 50%;
        margin: 0 3px;
        

    }

}


.wishedproduct{
    flex-direction: column;
    margin: 10px 0;
    img{
        width: 80%;
    }
    p{
        font-size: 20px ;
        padding:10px 0;
    }
    button{
        width: 60%;        
        &:hover{
            transform: scale(1.05);
        }
    }
}
.wishlist{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}
.categories{
    width:45%;
    margin: 2% auto 4%;
    line-height: 2.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
        cursor: pointer;
        padding:0 20px;
        &:hover{
            transform: scale(1.03);
        }
    }
}

